<div class="welcome-container">
    <div class="welcome-content">
        <img src="app/assets/app-icon/home-pic.png" alt="Vinayak Birajdar" class="profile-image" />
        <h1 class="welcome-title">
            Welcome
        </h1>
        <p class="welcome-subtitle">
            I’m Vinayak Birajdar
        </p>
        <p class="welcome-role">
            Full Stack Developer · Angular · .NET
        </p>
        <div class="cv-button" (click)="downloadCV()">
            Download CV
        </div>

        <!-- SOCIAL LINKS -->
        <div class="home-social">
            <a href="https://www.linkedin.com/in/vinayak-birajdar" target="_blank" aria-label="linkedin"
                data-tooltip="linkedin">
                <mat-icon>work</mat-icon>
            </a>
            <a href="https://github.com/vinayakbirajdar" target="_blank" aria-label="GitHub" data-tooltip="GitHub">
                <mat-icon>code</mat-icon>
            </a>

            <a href="mailto:vinayak@example.com" aria-label="Gmail" data-tooltip="Gmail">
                <mat-icon>mail</mat-icon>
            </a>
        </div>
    </div>

</div>