<div class="main-container">
    <div class="title-text">
        <h2>Contact Me</h2>
        <span class="label-text">You can reach me through</span>
    </div>

    <div class="sub-container">
        <div class="right-panel">
            <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" placeholder="Enter your FIrts Name" />
                    <small *ngIf="contactForm.get('firstName')?.touched && contactForm.get('firstName')?.invalid">
                        Name is required
                    </small>
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" placeholder="Enter your name" />
                    <small *ngIf="contactForm.get('lastName')?.touched && contactForm.get('lastName')?.invalid">
                        Name is required
                    </small>
                </div>

                <!-- EMAIL -->
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" formControlName="email" placeholder="Enter your email" />
                    <small *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
                        Valid email is required
                    </small>
                </div>

                <!-- MESSAGE -->
                <div class="form-group">
                    <label>Message</label>
                    <textarea formControlName="message" rows="4" placeholder="Your message"></textarea>
                    <small *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
                        Message is required
                    </small>
                </div>

                <button class="cv-button" type="submit" [disabled]="isLoading">
                    {{ isLoading ? 'Sending...' : 'Send Message' }}
                </button>
            </form>

        </div>
        <div class="left-panel">

            <div class="info-item">
                <h2 class="label-text">
                    <mat-icon class="info-icon">alternate_email</mat-icon>
                    Gmail
                </h2>
                <h1 class="label-value">Vinayakbirajdar2025&#64;gmail.com</h1>
            </div>

            <div class="info-item">
                <h2 class="label-text">
                    <mat-icon class="info-icon">phone_iphone</mat-icon>
                    Phone No.
                </h2>
                <h1 class="label-value">+91 8788010226</h1>
            </div>

            <div class="info-item">
                <h2 class="label-text">
                    <mat-icon class="info-icon">public</mat-icon>
                    Location
                </h2>
                <h1 class="label-value">Pune</h1>
            </div>

            <div class="info-item">
                <h2 class="label-text">
                    <mat-icon class="info-icon">photo_camera_front</mat-icon>
                    Instagram
                </h2>
                <h1 class="label-value">Vinayak_7</h1>
            </div>

        </div>


    </div>
</div>