.app-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: black;
    min-height: 100vh;
    box-sizing: border-box;
}

.main-pages {
    flex: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}