.sidebar {
    height: 100%;
    width: 240px;
    background: var(--sidebar-bg);
    backdrop-filter: var(--sidebar-backdrop);
    color: #ffffff;
    left: 0;
    top: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar.collapsed {
    width: 70px;
}

/* HEADER */
.sidebar-header {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 12px;
    overflow: hidden;
    cursor: pointer;
    // border-bottom: var(--bg-gradient);
    // border-bottom-style: ridge;
    border-bottom: 2px solid transparent;
    border-image: var(--bg-gradient) 1;
}

.logo {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    margin-bottom: 5px;
}

/* MENU */
.menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 18px 16px;
    min-height: 50px;
    cursor: pointer;
    transition: background 0.25s ease, transform 0.15s ease;
}

.menu-item:hover {
    background-color: #1f2933;
    transform: translateX(4px);
}

.menu-item.active {
    background-color: var(--accent-soft);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    width: 36px;
    height: 36px;
    min-width: 36px;
    line-height: 1;
    flex-shrink: 0;
}

.text {
    font-size: 14px;
    margin-left: 8px;
    white-space: nowrap;
    transition: opacity 0.2s ease, width 0.2s ease;
}