<div class="project-container">
    <div class="project-header">
        <h2>Projects</h2>
        <p>Some of the projects I have worked on</p>
    </div>
    <div class="stack-filter">
        <button *ngFor="let stack of stacks" (click)="selectStack(stack)" [class.active]="selectedStack === stack">
            {{ stack }}
        </button>
    </div>
    <div class="project-grid">
        <div class="project-card" *ngFor="let project of filteredProjects">

            <div class="project-image-container">
                <img src={{project.image}} class=" project-images" />
            </div>
            <h4>{{ project.title }}</h4>
            <p>{{ project.description }}</p>

            <div class="sub-conatner">
                <div class="project-tech">
                    {{ project.tech.join(' • ') }}
                </div>
                <div class="view-btn" (click)="openCode(project.code)" [class.disabled]="!project.code">
                    View Code
                </div>
            </div>
        </div>
    </div>
</div>