<div class="main-container">
    <div class="sub-container">
        <div class="left-panel">
            <h2 class="about-title">About Me</h2>

            <div class="about-description-grid">

                <!-- LEFT: STORY -->
                <div class="about-story">
                    <p>
                        I am <strong>Vinayak Birajdar</strong>, a Front-End Developer with a strong foundation in web
                        and
                        mobile application development. I hold a <strong>B.Tech degree in Electronics and
                            Telecommunication
                            Engineering</strong> with a <strong>9 CGPA</strong>.
                    </p>

                    <p>
                        I completed <strong>Full Stack Java training</strong> at <strong>QSpiders</strong>, where I
                        built
                        strong fundamentals in programming, application architecture, and software development.
                    </p>

                    <p>
                        I worked at <strong>Capternal Software Pvt. Ltd.</strong> as a <strong>React Native
                            Developer</strong>,
                        contributing to <strong>two live mobile applications</strong> involving real-world APIs, UI
                        implementation, and production code.
                    </p>

                    <p>
                        Currently, I work at <strong>Johnson Controls</strong> as an
                        <strong>Associate Full Stack Developer</strong>, developing a
                        <strong>live enterprise application</strong> using <strong>Angular and .NET</strong>.
                    </p>
                </div>
            </div>

            <h3 class="skills-title">Skills</h3>

            <table class="info-table skills-table">
                <tr>
                    <td>Frontend</td>
                    <td>Angular, React Native, TypeScript, Javascript, Bootstrap</td>
                </tr>
                <tr>
                    <td>Backend</td>
                    <td>.NET, C#, REST APIs</td>
                </tr>
                <tr>
                    <td>Database</td>
                    <td>SQL, Stored proceduers</td>
                </tr>
                <tr>
                    <td>Tools</td>
                    <td>Git, VS Code, SMSS</td>
                </tr>
                <tr>
                    <td>Concepts</td>
                    <td>Component Design, API Integration, Responsive UI</td>
                </tr>
            </table>
        </div>
        <div class="right-panel">
            <img src="app/assets/app-icon/about-pic.png" alt="Vinayak Birajdar" class="profile-image" />
        </div>

    </div>
</div>