/* IMPORT GLOBAL THEME */
// @import './assets/styles/theme';
@use './app/assets/theme.scss';

/* GLOBAL RESET */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* APP BASE STYLES */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--bg-gradient);
    color: var(--text-primary);
    overflow-x: hidden;
}

/* ANGULAR ROUTING FIX */
router-outlet {
    display: block;
}